---
import { getCollection, render } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/IndexLayout.astro';

const posts = await getCollection('guides');
posts.sort((a, b) => +b.data.date - +a.data.date);
---

<Layout title="Guides">
	<main>
		<h1 class="page_title">Guides</h1>
		<hr />
		<ul class="posts" transition:name="post">
			{
				posts.map((post) => (
					<li class="post">
						<div class="version_wrapper">
							<div class="version_info">
								<a href={`/guides/${post.id}`}>
									<FormattedDate class="date" date={post.data.date} />
								</a>
							</div>
						</div>
						<div class="content">
							<a href={`/guides/${post.id}`}><h2>{post.data.title}</h2></a>
							<p>{post.data.description}</p>
						</div>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
